body {
		background-image: URL("https://img.pngio.com/animated-blizzard-on-transparent-backgro-669153-png-images-pngio-animated-blizzard-png-1920_1080.png");
	background-repeat: no-repeat;
}

//*div.image {
	content:url("https://i.pinimg.com/736x/9f/65/38/9f6538222c799ef1f83b13a024f33b63.jpg");
		width: 200px;
			height:200px;
}
//*div.UpsidedownObstacleimage{
	content: url("https://pngimg.com/uploads/building/building_PNG30.png");
	height: 500px;
	width: 450px;
	transform: rotate(180deg);
}
div.Obstacleimage{
	content: url("https://pngimg.com/uploads/building/building_PNG30.png");
	height: 500px;
	width: 450px;
	object-position: right;
}
	.obstacle {
	height: 1px;
	width: 1000px;
	background-color: lime;
}

.collision-state {
  background-color: green;
}

.no-collision-state {
  background-color: blue;
}


	//*https://www.vippng.com/png/full/131-1315139_icebreaker-hungry-dragon-ice-dragons.png
//*(dragon image/different character image)https://lh3.googleusercontent.com/proxy/lzPUaLaviRcnWfBLXwL4qvIHoAT53URzZ08eXoczUbxG-FuZoVm3JvFA6g9Odt7FmF5prK2W-v0EVO89FVNfCEhVXYBl4w9q
https://www.vippng.com/png/full/131-1315139_icebreaker-hungry-dragon-ice-dragons.png

body {
		background-image: URL("https://img.pngio.com/animated-blizzard-on-transparent-backgro-669153-png-images-pngio-animated-blizzard-png-1920_1080.png");
	background-repeat: no-repeat
}
